<nav class="navbar navbar-default mb-xl-5 mb-4">
    <div class="container-fluid">

        <div class="navbar-header">
            
        </div>
        
        <ul class="top-icons-agileits-w3layouts float-right">
           

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="far fa-user"></i>
                </a>
                <div class="dropdown-menu drop-3">
                    <div class="profile d-flex mr-o">
                        <div class="profile-r align-self-center">
                            <a style="text-align: center;display: block;"><%=email%></a>
                        </div>
                    </div>
                    <a href="#" class="dropdown-item mt-3">
                        <h4>
                            <i class="far fa-user mr-3"></i>My Profile
                        </h4>
                    </a>
                   
                    <div class="dropdown-divider"></div>
                    
                    <a href="/logout/admin" class="dropdown-item btn">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>