<title><%=title%> || <%=info.appName%></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="<%=csrfToken%>">
<link rel="stylesheet" type="text/css" href="/common/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/auth/css/util.css">
<link rel="stylesheet" type="text/css" href="/auth/css/main.css">