<form action="<%=changePasswordFormURL%>" method="POST" class="login100-form validate-form" id="changePasswordForm">
	<span class="login100-form-title p-b-34">
		<%=title%>
	</span>
	<div id="message" style="width: 100%"></div>

	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Password">
		<input class="input100" type="password" name="password" placeholder="Password">
		<span class="focus-input100"></span>
	</div>

	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Confirm Password">
		<input class="input100" type="password" name="confirm_password" placeholder="Confirm Password">
		<span class="focus-input100"></span>
	</div>

	<input type="hidden" name="email" id="email" value="<%=email%>">
	<input type="hidden" name="rd" id="rd" value="<%=rd%>">

	<div class="container-login100-form-btn p-b-110">
		<button class="login100-form-btn" id="buttonload">
			Change
		</button>
	</div>
</form>
