<form action="<%=registrationForm%>" method="POST" class="login100-form" id="registrationForm">
	<span class="login100-form-title p-b-34">
		<%=title%>
	</span>
	<div id="message" style="width: 100%"></div>
	<div class="wrap-input100 m-b-20">
		<input id="name" class="input100" type="text" name="name" placeholder="Name" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="input-group wrap-input100 m-b-20">
		<div class="input-group-prepend">
			<span class="input-group-text" style="border-radius: 0">+8801</span>
		</div>
		<div class="row">
			<input class="input100" type="text" name="mobile_number" placeholder="Mobile Number" autocomplete="off">
			<span class="focus-input100"></span>
		</div>
	</div>
	<div class="wrap-input100 m-b-20">
		<input class="input100" type="text" name="email" placeholder="Email Address" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 m-b-20">
		<input class="input100" type="password" name="password" placeholder="Password" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 m-b-20">
		<input class="input100" type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="container-login100-form-btn p-b-110">
		<button class="login100-form-btn" id="buttonload">
			Create Account
		</button>
	</div>
	<div class="w-full text-center">
		<a href="<%=loginPage%>" class="txt4">
			Back To Login
		</a>
	</div>
</form>
